<p>childswitch works!</p>
<!-- 
<div [ngSwitch]="name" >
    <div *ngSwitchCase="'anand b..'" >hello anand b..</div>
     <div *ngSwitchCase="'anand b..'" >hello anand b..</div>  two time print 

    <div *ngSwitchCase="'mohan'" >hello mohan b..</div>
    <div *ngSwitchCase="'harsh'" >hello </div>
    <div *ngSwitchCase="'sandeep'" >hello </div>
   <div *ngSwitchDefault="" >no data match</div>

</div> -->


<div>
    enter ypur name : <input type="text" #txtname (keyup)="0">
    
    <div [ngSwitch]="txtname.value" >
        <div *ngSwitchCase="'anand b..'" >hello anand b..</div>
         <div *ngSwitchCase="'anand b..'" >hello anand b..</div>  
    
        <div *ngSwitchCase="'mohan'" >hello mohan b..</div>
        <div *ngSwitchCase="'harsh'" >hello </div>
        <div *ngSwitchCase="'sandeep'" >hello </div>
       <div *ngSwitchDefault="" >no data match</div>
    
    </div> 

</div>


