<!-- <app-student></app-student> -->
<h1>parent </h1>

<!-- data move parent to child
<div>
    parent component: <input type="text" #pcomponent (keyup)="0" />
<app-child [pdata]="pcomponent.value" ></app-child>
</div> -->

<!-- // data move child to parent -->
<!-- <div>
    value of chila2 component: {{c2data}}
    <app-child2 (childEvent)="getData($event)" ></app-child2>
</div> -->

<!-- 
<h2>using ngif </h2>
<div>
    <input type="radio" name="radio1" (click)="chanhgevalue(true)"> true
    <input type="radio" name="radio" (click)="chanhgevalue(false)"> false
  <div *ngIf="isvalid" > 
   this is valid
  </div>
  <div *ngIf="!isvalid" > 
    this is not valid
  </div>
</div>
 -->

<!-- 

 <h2>using ngif,else </h2>
<div>
    <input type="radio" name="radio1" (click)="chanhgevalue(true)"> true
    <input type="radio" name="radio" (click)="chanhgevalue(false)"> false
 
    <div *ngIf="isvalid ; else elseblock" > 
   this is valid
  </div>
 <ng-template #elseblock>
    <div > 
        this is not valid ,becouse elseblock
      </div>
 </ng-template>


 <div *ngIf="isvalid ; then thenblock ; else elseblock" >   
   </div>
   <ng-template #thenblock>
    <div > 
        this is  valid ,becouse thenblock
      </div>
 </ng-template>
  <ng-template #elseblock>
     <div > 
         this is not valid ,becouse elseblock
       </div>
  </ng-template>
</div>



 -->


<!-- <app-childswitch></app-childswitch> -->

 <!-- <app-child-for></app-child-for> -->

 <!-- <app-child-track-api-data></app-child-track-api-data> -->

 <!-- <app-child-grouping-ngfor></app-child-grouping-ngfor> -->

<!-- <app-child-ngstyle></app-child-ngstyle> -->


<!-- <app-child-ngclass></app-child-ngclass> -->


<!-- <app-data-binding></app-data-binding> -->

<!-- <app-child-interpolation></app-child-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-child-attribute></app-child-attribute> -->

<!-- <app-child-event></app-child-event> -->

<!-- <app-child-twoway-binding></app-child-twoway-binding> -->

<!-- <app-child-pipes></app-child-pipes> -->
<!-- 
<app-child-routelink></app-child-routelink> -->

<!-- <h1> ROUTER LINK EXAMPLE</h1>
<a [routerLink]="['/routelink']" >router link </a> ------
<a [routerLink]="['/routelink2']" >router link2 </a>
<br/>
<br/>
<button (click)="routerLink()" >show routerLink </button>
<br/>
need router-outlet component other vise not work
<router-outlet></router-outlet> -->


<!-- <h1> ROUTER LINK EXAMPLE</h1>
<a [routerLink]="['/routelink']" >router link </a> ------
<a [routerLink]="['/routelink2']" >router link2 </a>
<br/>
parentDetail path not found then <a  [routerLink]="['/parentDetail']" >notfound componemt</a>
<br/>
<button (click)="routerLink()" >show routerLink </button>
<br/>
need router-outlet component other vise not work
<router-outlet></router-outlet> -->



<!-- <app-child-service></app-child-service> -->

<!-- <app-child-service2></app-child-service2> -->

<!-- <app-child-service3></app-child-service3> -->

<!-- <app-child-service4></app-child-service4> -->
<!-- 
<app-child-s1></app-child-s1>
<app-child-s2></app-child-s2> -->

<app-child-shakeable1></app-child-shakeable1>
<app-child-shakeable2></app-child-shakeable2>